.graph {
    position: relative;
    width: 800px;
    height: 800px;
}

.nodes {
    position: absolute;
    top: 50%;
    left: 50%;
}

.links {
    width: 100%;
    height: 100%;
}

.minimap {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1px solid black;
}

.node {
    fill: grey;
}

.minimap-viewport {
    stroke-width: 1px;
    stroke: red;
    fill: rgba(100, 0, 0, 0.1);
}

.minimap-graph {
    stroke-width: 1px;
    stroke: green;
    fill: rgba(0, 100, 0, 0.1);
}
