@import "react-toolbox/lib/colors.css";
@import "react-toolbox/lib/variables.css";
@import "react-toolbox/lib/card/config.css";
.minimap {
    background: var(--card-background-color);
    border-radius: calc(0.2 * var(--unit));
    box-shadow: var(--shadow-2p);
    position: fixed;
    bottom: 20px;
    right: 20px;
    overflow: hidden;
    box-sizing: border-box;
    font-family: var(--preferred-font);
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    width: 200px;
    height: 200px;
}

.minimap .node {
    fill: var(--color-primary);
    rx: 1em;
    ry: 1em;
}

.minimap-viewport {
    fill: var(--color-accent);
    opacity: 0.2;
    rx: 1em;
    ry: 1em;
}
