.issue-card {
    font-family: var(--preferred-font);
    width: 750px;
    height: 530px;
    margin: 10px;
    box-sizing: border-box;
    padding: 20px 52px 20px 20px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

.issue-card .top-bar {
    font-weight: bold;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    max-height: 3.8em;
    overflow: hidden;
}

.issue-card .top-bar .key {
    margin-right: 10px;
    white-space: nowrap;
    font-size: 1.8em;
    letter-spacing: -0.05em;
}

.issue-card .top-bar .title {
    font-size: 0.8em;
}

.issue-card .metadata {
    position: absolute;
    top: 20px;
    right: 30px;
    writing-mode: tb-rl;
    padding: 5px;
}

.issue-card .cps {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.issue-card .epic {
    background: #444444;
    color: #ffffff;
    padding: 4px;
    font-size: 1em;
    border-radius: 4px;
}

.issue-card .image {
    max-width: 75%;
    max-height: 78%;
    margin: 20px 0;
}

.issue-card .image img {
    max-width: 100%;
    max-height: 381px;
}

.issue-card .links {
    margin: 10px 0;
}

.issue-card .link {
    background: #444444;
    border-radius: 4px;
    color: white;
    padding: 2px;
    margin: 0 2px;
}

.issue-card .link:first-child {
    margin-left: 0;
}

.issue-card .estimate {
    position: absolute;
    bottom: 20px;
    right: 70px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 2em;
    font-size: 1.6em;
    font-weight: bold;
    line-height: 1em;
    padding: 5px 15px;
    text-align: center;
    color: rgba(51, 51, 51, 0.8);
}

.issue-card .subtasks {
    position: absolute;
    left: 20px;
    right: 120px;
    bottom: 0;
    display: flex;
    height: 90px;
}

.issue-card .subtasks > * {
    margin: 0 2px;
}

.issue-card .subtasks > :first-child {
    margin-left: 0;
}

.issue-card .subtasks > :last-child {
    margin-right: 0;
}

@media print {
    .issue-card {
        width: 210mm;
        height: 148.5mm;
        margin: 0;
        border: none;
        border-bottom: 1px dotted black;
        overflow: hidden;
        box-sizing: border-box;
    }
    .issue-card:nth-child(2n) {
        border-bottom: none;
    }
}
