.subtask {
    border: 1px solid black;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
}

.subtask .key {
    display: block;
    text-align: center;
    font-weight: bold;
}

.subtask .title {
    font-size: 0.9em;
}
