.radioGroup {
    display: flex;
    justify-content: flex-end;
    font-family: var(--preferred-font);
}

.radioGroup > * {
    margin: 0 20px;
}

.input {
    margin: 0;
    padding: 0;
}

.inputElement {
    padding: 1px 0;
    font-size: calc(1.4 * 10px);
    font-size: var(--radio-text-font-size);
    font-family: var(--preferred-font);
}

.hint {
    top: 1px;
    font-size: calc(1.4 * 10px);
    font-size: var(--radio-text-font-size);
    font-family: var(--preferred-font);
}
