@import "react-toolbox/lib/colors.css";
@import "react-toolbox/lib/variables.css";
@import "react-toolbox/lib/card/config.css";
.card {
    background: var(--card-background-color);
    border-radius: calc(0.2 * var(--unit));
    box-shadow: var(--shadow-2p);
    display: flex;
    flex-direction: column;
    font-size: var(--card-font-size);
    overflow: hidden;
    /* width: 100%; */
    box-sizing: border-box;
    font-family: var(--preferred-font);
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.card.epic .cardTitle {
    background: rgba(48, 63, 159, 0.34);
}

.card *,
.card *::after,
.card *::before {
    box-sizing: border-box;
    text-size-adjust: 100%;
    -webkit-touch-callout: none;
}

.cardTitle {
    align-items: center;
    display: flex;
}

.cardTitle,
.cardText {
    padding: calc(var(--card-padding) - 0.2 * var(--unit)) var(--card-padding);
}

.cardTitle:last-child,
.cardText:last-child {
    padding-bottom: var(--card-padding-lg);
}

.cardText p {
    font-size: calc(2 * var(--unit));
    font-weight: 400;
    letter-spacing: 0;
    line-height: calc(2.4 * var(--unit));
    margin: 0;
}

.cardTitle {
    white-space: nowrap;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.25;
    letter-spacing: 0.02em;
    margin: 0;
}

.cardTitle > img {
    margin: 6px 8px 9px 0;
    vertical-align: middle;
}

.status {
    font-family: monospace;
    text-transform: uppercase;
    border-radius: 6px;
    padding: 2px 8px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    align-self: center;
    margin: 0 0 0 8px;
    float: left;
}
