.appContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app {
    flex: 1 1 auto;
    overflow-y: auto;
    margin-top: 64px;
}

.searchInput {
    padding: 14px 0;
    flex-grow: 1.1;
}

.searchInput input {
    color: white;
    border-bottom-color: rgba(255, 255, 255, 0.3);
}

.searchInput span:first-of-type::before,
.searchInput span:first-of-type::after {
    background: rgb(255, 64, 129);
}

.searchInput span:last-of-type {
    top: 26px;
    color: rgba(255, 255, 255, 0.3);
}

.navigation {
    display: flex;
    height: 100%;
}

.navigation a {
    display: flex;
    margin: 0;
    padding: 0 var(--appbar-h-padding);
    border-bottom: 2px solid transparent;
    transition: background-color var(--animation-duration), border-bottom-color var(--animation-duration);
    align-items: center;
    text-decoration: none;
}

.navigation a:hover {
    background-color: rgba(255, 255, 2555, 0.1);
}

.navigation a.active {
    border-bottom-color: var(--color-accent);
}

.info-section {
    padding: var(--dialog-content-padding);
    font: var(--font-weight-normal) var(--font-size-normal) var(--preferred-font);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.4);
}

.appBody {
    position: relative;
    width: 100%;
    flex: 1;
    overflow: auto;
}

@media print {
    .appContainer {
        display: initial;
        height: auto;
    }
    .appContainer>* {
        display: none;
    }
    .appContainer>.appBody {
        display: block;
        width: auto;
    }
}
