body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

global:#app {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media print {
    body,
    html {
        width: auto;
        height: auto;
    }
    global:#app {
        width: auto;
        height: auto;
        overflow: auto;
    }
}

@page {
    size: 210mm 297mm;
    height: 297mm;
    width: 210mm;
    margin: 0;
    padding: 0;
}
