.graphRoot {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.graphMenu {
    position: absolute;
    right: 20px;
}

.centerButton {
    position: absolute;
    bottom: 20px;
    right: 230px;
    display: flex;
    justify-content: space-around;
}

.centerButton>* {
    margin: 0 5px;
}
