.loadingWrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingEnter {
    opacity: 0;
}

.loadingEnter.loadingEnterActive {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.loadingLeave {
    opacity: 1;
}

.loadingLeave.loadingLeaveActive {
    opacity: 0;
    transition: opacity 200ms ease-in;
}
