@import "react-toolbox/lib/colors.css";
@import "react-toolbox/lib/variables.css";
.graphLinkMarker {
    fill: var(--color-primary-dark);
}

.link {
    transform: translate(50%, 50%);
}

.link>line {
    stroke: var(--color-primary-dark);
    stroke-width: 2px;
}

.link>text {
    font-family: var(--preferred-font);
    font-size: var(--font-size);
}
