.autocomplete > ul {
    width: 100%;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: calc(-1 * var(--input-padding));
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.35s;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    max-height: 0;
    box-sizing: border-box;
    background: #ffffff;
    z-index: 10000;
}

.autocomplete input {
    padding-right: 28px;
}

.autocomplete > ul li {
    padding: 1rem;
    cursor: pointer;
    box-sizing: border-box;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.35s;
}

.autocomplete > ul li:hover,
.autocomplete > ul li.hover {
    background-color: #eee;
}

.autocomplete.open > ul {
    visibility: visible;
    max-height: 65vh;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0.24);
}

.autocomplete {
    position: relative;
    font-family: var(--preferred-font);
    color: var(--input-text-label-color);
    font-size: var(--input-field-font-size);
    box-sizing: border-box;
}

.autocomplete:after {
    border-left: 0.54857rem solid transparent;
    border-right: 0.54857rem solid transparent;
    border-top: 0.54857rem solid rgba(0, 0, 0, 0.12);
    content: '';
    height: 0;
    pointer-events: none;
    position: absolute;
    right: var(--input-chevron-offset);
    top: calc(50% - 0.54857rem / 2);
    transition: transform var(--animation-duration) var(--animation-curve-default);
    width: 0;
}
