@import "react-toolbox/lib/colors.css";
.off,
.on {
    background-color: var(--color-accent);
    margin-top: -2px;
}

.off .thumb,
.on .thumb {
    background-color: var(--appbar-contrast);
}

.off .thumb .ripple,
.on .thumb .ripple {
    background-color: var(--color-accent);
}

.text {
    color: var(--appbar-contrast);
    font-size: inherit;
}

.input {
    margin: 0;
}

.field {
    display: flex;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid transparent;
    align-items: center;
}

.labelOff,
.labelOn {
    display: flex;
    margin: 0;
    border-bottom: 2px solid transparent;
    align-items: center;
}

.labelOn {
    padding: 0 var(--appbar-h-padding) 0 var(--unit);
}

.labelOff {
    padding: 0 var(--unit) 0 var(--appbar-h-padding);
    text-align: right;
}
